:host {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
}

.landing-shell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-input {
    padding-left: 10px;
}

.space-above {
    margin-top: 10px;
}

.game-id-input {
    width: 300px;
    margin-top: 0px;
    border: 0px;
    text-align: center;
}

textarea {
    width: 300px;
    aspect-ratio: 0.7 / 1; 
    resize: none;
    font-size: 19px;
    padding-inline-start: 8px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.feedback-button {
    transform: scale(0.9);          
    margin: 0px;
}
