
:host {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    padding-left: 10px;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 5px;
}

.button-section {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    margin-right: 5px;

}