:host {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
}

.landing-shell {
    max-width: 800px;
    width: 100%;
}

.label-input {
    padding-left: 10px;
}

.nes-input {
  font-family: 'Press Start 2P', system-ui, sans-serif;
  caret-color: #32ff7e; /* neon green arcade caret */
}

.input-line {
    display: flex;
    align-items: center;
}

.pixel-button {
    background-image: url('/assets/enter-button.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 99.5px;
    height: 51px;
}

.pixel-button:active {
    background-image: url('/assets/enter-button-pressed.png');
    transform: translateY(2px);
}

h1 {
    text-align: center;
}
