
:host dialog {
    width: 80vw;
    max-width: 80vw;
    overflow: hidden;
}

form {
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
}
