
form {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dialog-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
}
