.warning-message {
    display: flex;
    align-items: center;
    place-items: center;
    justify-content: center;
    padding: 0 40px;
    width: 100%;
}

.playing-board{
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
}

.take-me-back-button {
    transform: scale(0.9);
    margin-top: 10px;
}

app-music-button-container {
    position: absolute;
    top: 10px;
    right: 0px;
    transform: scale(0.8);
}
