.warning-message {
    display: flex;
    align-items: center;
    place-items: center;
    justify-content: center;
    padding: 0 40px;
    width: 100%;
}

.playing-board{
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-row {
    display: flex;
    transform: scale(0.9);
    margin-top: 10px;
    gap: 10px;
}

