@import "nes.css/css/nes.min.css";

html, body {
    background-color: #212529;   
    // color: #fff;   TODO: remove after all overlay-texts are removed            
}

html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
    image-rendering: pixelated; 
}
