@import "nes.css/css/nes.min.css";

html, body {
    background-color: #212529;   
}

h1 {
    color: #fff;
}

html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
    image-rendering: pixelated; 
}
