.music-volume-readout {
  font-size: 20px;
}

.volume-display-area {
    margin-left: 5px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-row {
    margin-right: 5px;
}

progress {
    height: 20px;
}