:host {
    position: absolute;
    top: -50px;
    right: 0px;
    transform: scale(0.6);
}

.volume-display-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-column {
    display: flex;
    flex-direction: column;
}

progress {
    height: 100px;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

.volume-text {
    transform: translateY(-65px);
    color: black;
}